body {
    background-color: lightblue;
}

.auth-content {
    background-color: lightblue;
}

.okta-form-title o-form-head {
    font-size: larger;
}

#okta-signin-submit {
    background-color: pink;
}
